
#usersignupform {
    display: none;
}

.statusBoxHeader {
    background-color: black;
    color: white;
    text-align: center;
}

.statusBox {
    background-color: darkred;
    text-align: center;
    border-style: solid;
    border-color: darkgray;
    color: white;

}

body {
    background-color: darkgray;
    position: relative;
    min-height: 100vh;
}

footer {
    background-color: black;
    color: white;
    text-align: center;

}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */

}
