#usersignupform{
    display:none;
}

.statusBoxHeader{
    background-color: black;
    color: white;
}

.statusBox{
    background-color: darkred;
}
body{
    background-color: darkgray;
}
footer{
    background-color: black;
    color: white;
}