.navbar {
    background-image: url(assets/images/blackcar-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    background-color: rgb(2, 2, 2);
    /* padding: 0px; */
    /* margin: 0px; */

}

.navbar-brand {
    display: inline-block;
}

#logo {
    background-color: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 0, 0, 0.5) 0px 3px 3px;
    font-size: 40px;


}



p {
    font-family: 'Roboto', sans-serif;
    color: rgb(3, 0, 14);

}

.statusBoxHeader {
    background-color: rgb(30, 30, 35);
    color: white;

    text-align: center;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.statusBox {
    background-color: rgb(156, 0, 0);
    text-align: center;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    animation: 1s ease-out 0s 1 slideInFromRight;
    box-shadow: 7px 7px 4px rgb(3, 0, 39);
}

#mileageOutput {
    color:whitesmoke;
}

body {
    background-image: url(assets/images/blackred2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(204, 204, 204); */
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    color: rgb(165, 165, 165);
    font-family: 'Roboto', sans-serif;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

.btn {
    margin: 10px;
}

.button1 {

    background: rgb(156, 0, 0);
    color: #fff;
    border: none;
    position: relative;
    height: 60px;

    width: 200px;
    font-size: 1em;
    ;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    box-shadow: 7px 7px 4px rgb(3, 0, 39);
    outline: none;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.button1:hover {
    background: #fff;
    color: rgb(156, 0, 0);
}

.button1:before,
.button1:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(156, 0, 0);
    transition: 400ms ease all;
}

.button1:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
    box-shadow: 7px 7px 4px rgb(3, 0, 39);
}

.button1:hover:before,
.button1:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

input.button1:hover {

    color: rgba(9, 16, 20, 0.979);
    background-color: #FFFFFF;

}

.navbar-brand {
    animation: 1s ease-out 0s 1 slideInFromRight;
}


/* GOOGLE MAPS MODAL STYLES */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 20px 0px;
}

li {
    font-size: 12px;


}


#map {
    height: 400px;
    width: 100%;
    margin: 20px 10px 0px;
}

#services-modal-dialog {
    overflow-y: initial;
}

#services-modal-body {
    height: 400px;
    overflow-y: auto;
}

#diy-section {
    margin: auto;
}

.serviceRating {
    color: #c05a06;
}

.serviceName {
    font-size: 16px;
    color: #000000;
}

/*end of google maps api styles */

.sub-header {
    border-bottom: 3px solid #dddddd;
    font-size: 16;
    color: #000000;
    font-weight: bold;
}

.headerDivider {
    border-left: 1px solid rgb(156, 0, 0);
    border-right: 1px solid rgb(156, 0, 0);
    height: 50px;

}


/* animation keyframes */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* RADIAL GRAPH CSS */

.flip-it {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress-value {
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    /*need to select this*/
    -webkit-animation: progress 3.5s normal;
    animation: progress 3.5s normal;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    animation-fill-mode: forwards;
}


/* repsonsive design by Josh */

@media (max-width: 575.98px) {
    .buttonGroup {
        max-width: 270px;
    }

    .buttonCol {
        padding-top: 10px;
    }
}

@media (min-width: 576px) {
    #video-modal-dialog {
        max-width: 900px;
        margin: 2rem auto;

    }
}

@media (min-width: 576px) {
    #services-modal-dialog {
        max-width: 900px;
        margin: 2rem auto;
        border-radius: 5px;
    }
}


@media (min-width: 576px) {
    #vehicle-detail-modal {
        max-width: 600px;
        margin: 2rem auto;
        height: 400px;
    }
}
